src/Component/Autoloader/fixtures
src/Component/Autoloader/src/decorators
src/Component/DependencyInjection/fixtures/js
src/Component/Templating/fixtures
src/Component/VarExporter/fixtures
src/**/*Interface.js
