src/Component/Autoloader/fixtures
src/Component/Autoloader/src/Reflection/ReflectionHelper.js
src/Component/Autoloader/src/Test/ChaiExpectation.js
src/Component/Debug/src/Resources
src/Component/DependencyInjection/fixtures
src/Component/HttpServer/fixtures
src/Component/Metadata/fixtures
src/Component/Routing/fixtures/Annotation
src/Component/Templating/fixtures
src/Component/Validator/src/Test/ChaiExpectation.js
src/Component/VarExporter/fixtures
src/Component/VarDumper/src/Test/ChaiExpectation.js
src/**/*Interface.js

src/Bundle/FrameworkBundle/src/Controller/AbstractController.js
src/Bundle/FrameworkBundle/src/Controller/ExceptionController.js
src/Bundle/FrameworkBundle/fixtures/Controller/ConcreteController.js
src/Bundle/FrameworkBundle/fixtures/Controller/TestAbstractController.js
src/Bundle/FrameworkBundle/fixtures/Controller/TypedController.js
src/Bundle/FrameworkBundle/fixtures/Routing/AnnotatedController.js
src/Bundle/FrameworkBundle/fixtures/templates
src/Component/Cache/src/Adapter/RedisAdapter.js
src/Component/Cache/src/Traits/RedisTrait.js
src/Component/Cache/test/Adapter/AdapterTestCase.js
src/Component/DependencyInjection/src/Compiler/ResolveInjectDecoratorPass.js
src/Component/Routing/src/Loader/AnnotationClassLoader.js
src/Component/Stopwatch/test/StopwatchPeriodTest.js
src/Component/Testing/src/Framework/TimeSensitiveTestCaseTrait.js
src/Component/Uid/test/UuidTest.js
src/Component/Validator/fixtures/CascadedChild.js
src/Component/Validator/fixtures/CascadingEntity.js
src/Component/Validator/fixtures/ChildA.js
src/Component/Validator/fixtures/ChildB.js
src/Component/Validator/fixtures/Entity.js
src/Component/Validator/fixtures/EntityParent.js
src/Component/Validator/fixtures/EntityWithGroupedConstraintOnMethods.js
src/Component/Validator/fixtures/FailingConstraint.js
src/Component/Validator/fixtures/GroupSequenceProviderEntity.js
src/Component/Validator/fixtures/Reference.js
src/Component/Validator/fixtures/Valid
src/Component/Validator/test/Constraints/AbstractComparisonValidatorTestCase.js
src/Component/Validator/test/Constraints/CountValidatorTest.js
src/Component/Validator/test/Constraints/DivisibleByValidatorTest.js
src/Component/Validator/test/Mapping/Loader/JsonFileLoaderTest.js
src/Component/Validator/test/Validator/AbstractValidatorTest.js
