language: node_js

node_js:
    - 8
    - 9
    - 10
    - 11

os:
  - windows
  - linux
  - osx

sudo: false

install:
    - npm install -g eslint
    - npm install

script:
    - if [ "$TRAVIS_NODE_VERSION" == "8" ] && [ "$TRAVIS_OS_NAME" == "linux" ]; then npm run-script coverage; else npm test; fi

after_success:
    - if [ "$TRAVIS_NODE_VERSION" == "8" ] && [ "$TRAVIS_OS_NAME" == "linux" ]; then npm install https://github.com/alekitto/ocular.js.git; fi
    - if [ "$TRAVIS_NODE_VERSION" == "8" ] && [ "$TRAVIS_OS_NAME" == "linux" ]; then $(npm bin)/ocular coverage/clover.xml; fi
