name: Tests - Windows/macOS
on: [ push ]

jobs:
    build:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os:
                    - macos-latest
                    - windows-latest
                node_version:
                    - 16
                    - 18
                    - 20
                    - 22
                architecture:
                    - x64

        name: Node ${{ matrix.node_version }} - ${{ matrix.architecture }} on ${{ matrix.os }}
        steps:
            - name: 'win: fix temp dir (actions/virtual-environments#712)'
              run: echo "TEMP=$env:USERPROFILE\AppData\Local\Temp" >> $env:GITHUB_ENV
              if: ${{ matrix.os == 'windows-latest' }}
            - uses: actions/checkout@v4
            - name: Setup node
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node_version }}
                  architecture: ${{ matrix.architecture }}
            - run: npm install
            - run: npm test
